.contenido{
  display: flex;
  flex-direction: row;
}
.compras{
  margin-right:10%;
  width: 60%;
  height: 100%;
}
.productos{
  overflow:scroll;
  overflow-x:hidden;
  width: 40%;
  height: 100vh;
}